#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10
#define MOVE_NORMAL  <&kp MOUSE_MOVE_X>  // default layer’s pointer
#define MOVE_SLOW    <&kp MOUSE_MOVE_X_1>  // slower
#define MOVE_FAST    <&kp MOUSE_MOVE_X_3>  // faster

//#include <dt-bindings/zmk/stp.h>

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

//&sl { release-after-ms = <1000>; };
//&lt { flavor = "tap-preferred"; };
//&mt { flavor = "tap-preferred"; };

/ {
    behaviors {
        AHM: AHM {
            compatible = "zmk,behavior-hold-tap";
            label = "AHM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <0>;
        };

        AHMCAPSWORD: AHMCAPSWORD {
            compatible = "zmk,behavior-hold-tap";
            label = "AHMCAPSWORD";
            bindings = <&caps_word>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
        };

        VOLDOWNBL: VOLDOWNBL {
            compatible = "zmk,behavior-hold-tap";
            label = "VOLDOWNBL";
            bindings = <&bootloader>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
        };

        VOLUPBL: VOLUPBL {
            compatible = "zmk,behavior-hold-tap";
            label = "VOLUPBL";
            bindings = <&bootloader>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
        };

        ALTF4SEARCH: ALTF4SEARCH {
            compatible = "zmk,behavior-mod-morph";
            label = "ALTF4SEARCH";
            bindings = <&AHM LA(F4) LS(LC(A))>, <&AHM LA(F4) LS(LC(A))>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        AHMNUM: AHMNUM {
            compatible = "zmk,behavior-hold-tap";
            label = "AHMNUM";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <0>;
        };

        KPTOG: KPTOG {
            compatible = "zmk,behavior-hold-tap";
            label = "KPTOG";
            bindings = <&tog>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
        };

        KPMO: KPMO {
            compatible = "zmk,behavior-hold-tap";
            label = "KPMO";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };

        MKPMKP: MKPMKP {
            compatible = "zmk,behavior-hold-tap";
            label = "MKPMKP";
            bindings = <&mkp>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
        };

        SL_MOUSE: SL_MOUSE {
            compatible = "zmk,behavior-sticky-key";
            label = "SL_MOUSE";
            bindings = <&mo>;
            #binding-cells = <1>;
            release-after-ms = <4294000000>;
        };

        SL_FKEYS: SL_FKEYS {
            compatible = "zmk,behavior-hold-tap";
            label = "SL_FKEYS";
            bindings = <&sl>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <170>;
            flavor = "tap-preferred";
        };

        AHM_SLOWER: AHM_SLOWER {
            compatible = "zmk,behavior-hold-tap";
            label = "AHM_SLOWER";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <180>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <0>;
        };

        kpmkp: kpmkp {
            compatible = "zmk,behavior-hold-tap";
            label = "KPMKP";
            bindings = <&mkp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };
    };

    combos {
        compatible = "zmk,combos";

        CMB_BACKSPACE {
            bindings = <&SL_MOUSE 3>;
            key-positions = <16 17 18>;
        };

        CMB_SL_MOUSE {
            bindings = <&mkp MB1>;
            key-positions = <16 17>;
        };

        CMB_ESC {
            bindings = <&mkp MB2>;
            key-positions = <17 18>;
        };

        CMB_TAB {
            bindings = <&kp TAB>;
            key-positions = <13 12>;
        };

        CMB_BTAB {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 11>;
        };

        MAIN {
            bindings = <&to 0>;
            key-positions = <12 11 13>;
        };

        mb3 {
            bindings = <&mkp MB3>;
            key-positions = <18 16>;
        };

        scroll {
            bindings = <&mo 4>;
            key-positions = <16 17 18 19>;
        };
    };

    macros {
        STRING: string {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(T) &kp I &kp R &kp E &kp S &kp UNDER &kp N2 &kp N2 &kp N8 &kp N6 &kp EXCL &kp LS(B) &kp LS(R)>;
            label = "STRING";
        };

        PARENTH: parenth {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RPAR &kp LEFT>;
            label = "PARENTH";
        };

        BRACKETS: brack {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;
            label = "BRACK";
        };

        BRACES: brace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>;
            label = "BRACE";
        };

        STRING2: string2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(H) &kp O &kp N &kp D &kp A &kp UNDER &kp LS(S) &kp LS(S) &kp AT &kp N2 &kp N2 &kp N8 &kp N6>;
            label = "STRING2";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        MAIN {
            display-name = "MAIN";
            bindings = <
&AHMNUM NUMBER_1 Q  &AHMNUM NUMBER_2 W               &AHMNUM NUMBER_3 E        &AHM_SLOWER NUMBER_4 R  &AHMNUM N5 T                                 &AHMNUM NUMBER_6 Y  &AHM_SLOWER N7 U    &AHMNUM N8 I      &AHMNUM N9 O       &AHMNUM N0 P
&AHM LEFT_WIN A     &AHM LEFT_ALT S                  &AHM LCTRL D              &AHM LEFT_SHIFT F       &SL_FKEYS 1 G                                &lt 1 H             &AHM RIGHT_SHIFT J  &AHM RCTRL K      &AHM RIGHT_ALT L   &AHM SEMICOLON APOSTROPHE
&AHM CAPS Z         &AHM PRINTSCREEN X               &AHMCAPSWORD 0 C          &lt 2 V                 &AHM LS(LC(B)) B                             &AHM INSERT N       &AHM PAUSE_BREAK M  &AHM MINUS COMMA  &AHM EQUAL PERIOD  &AHM BACKSLASH SLASH
&KPTOG 5 GRAVE      &AHM LC(LG(LEFT)) LC(LA(LS(D)))  &AHM LC(LG(RIGHT)) LC(C)  &kp BACKSPACE           &kp DEL           &kpmkp MB1 ESC  &kp ENTER  &kp SPACE                                                                    &ALTF4SEARCH
            >;
        };

        FKEYS {
            display-name = "FKEY";
            bindings = <
&kp F1  &kp F2     &kp F3   &kp F4        &VOLDOWNBL 0 C_VOLUME_DOWN                              &VOLUPBL 0 C_VOLUME_UP  &kp LS(F1)  &kp LS(F2)   &kp LS(F3)   &kp LS(F4)
&kp F5  &kp F6     &kp F7   &kp F8        &msc SCRL_UP                                            &STRING2                &kp LS(F5)  &kp LS(F6)   &kp LS(F7)   &kp LS(F8)
&kp F9  &kp F10    &kp F11  &kp F12       &msc SCRL_DOWN                                          &STRING                 &kp LS(F9)  &kp LS(F10)  &kp LS(F11)  &kp LS(F12)
&trans  &BRACKETS  &BRACES  &bt BT_SEL 2  &bt BT_SEL 4                &bt BT_SEL 1  &bt BT_SEL 3  &bt BT_SEL 0                                                  &trans
            >;
        };

        NAV {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &kp PAGE_UP  &kp UP    &kp PAGE_DOWN  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &kp LEFT     &kp DOWN  &kp RIGHT      &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &kp HOME     &trans    &kp END        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                                        &trans
            >;

            label = "NAV";
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans           &trans           &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &mkp MB1  &MKPMKP MB4 MB3  &MKPMKP MB5 MB2  &KPMO 4 APOS
&trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans           &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                                              &trans
            >;

            label = "MOUSE";
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                          &trans
            >;

            label = "SCROL";
        };

        GAME {
            bindings = <
&kp Q    &kp W   &kp E  &kp R      &kp T                          &kp Y      &kp U  &kp I      &kp O    &kp P
&kp A    &kp S   &kp D  &kp F      &kp G                          &kp H      &kp J  &kp K      &kp L    &kp SEMI
&kp Z    &kp C   &kp X  &kp V      &kp B                          &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH
&kp ESC  &kp F1  &kp H  &kp SPACE  &kp LSHFT  &kp TAB  &kp ENTER  &kp SPACE                             &trans
            >;

            label = "GAME";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
